$backgroud-color: #35363a;
$text-color: #a0a0a2;
$active-color: #4e44ce;
$active-text-color: #cac6f0;

.sidebar {
  flex: 1;
  padding: auto;
  height: 100vh;
  background-color: $backgroud-color;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;

  .sidebar-header {
    .brand {
      margin: 1.5rem 1.5rem !important;
      color: #fff;
      font-size: 24px;
    }
  }

  .user-sidebar {
    .photo-user-sidebar-container {
      position: relative;
      .photo-user-sidebar {
        width: 120px;
        border-radius: 50%;
      }

      .settings-icons-user-sidebar {
        cursor: pointer;
        transform: translate(-40px);
        position: absolute;
        bottom: 0;
        border-radius: 50%;
        background: #2c2d30;
        height: 40px;
        width: 40px;
        padding: 8px;
        min-width: 20px;
      }
    }

    .name-user-sidebar {
      margin-top: 1rem;
    }
  }

  .nav-links {
    border-top-right-radius: 16px;
    background-color: $active-color;
    height: 100%;
    padding-top: 30px;
    padding-left: 0;
    margin-bottom: 0;

    li {
      position: relative;
      list-style: none;

      a {
        .nav-icon-list {
          color: $text-color;

          margin: 0 1rem 0;
          height: 50px;
          min-width: 20px;
          text-align: center;
          line-height: 50px;
        }

        span {
          font-size: 18px;
          color: $text-color;
        }
      }
    }

    li:hover {
      background-color: $backgroud-color;
    }

    li:active {
      background-color: $active-color;

      a {
        .nav-icon-list {
          color: $active-text-color;
        }

        span {
          color: $active-text-color;
        }
      }
    }
  }

  .logout-sidebar {
    border-bottom-right-radius: 16px;
    background-color: $active-color;

    .logout-content {
      cursor: pointer;
      margin: 1rem;
      padding: 0.75rem 0.75rem;
      border-radius: 16px;
      background: #2c2d30;

      p {
        margin: 0;
      }

      .logout-icon {
        transform: rotate(180deg);
      }
    }
  }
}
