/* change the colors */
$primary: #4e44ce;
$dark: #2c2d30;
$text: #a0a0a2;

$theme-colors: (
  "primary": $primary,
  "dark": $dark,
);

@import "bootstrap";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap");

@font-face {
  font-family: "Circular Std";
  src: url("./fonts/CircularStd-Bold.woff") format("woff"),
    url("./fonts/CircularStd-Bold.woff2") format("woff2"),
    url("./fonts/CircularStd-Book.woff2") format("woff2"),
    url("./fonts/CircularStd-Medium.woff2") format("woff2");
}

::-moz-selection {
  background: rgba(78, 68, 206, 0.5);
}
::selection {
  background: rgba(78, 68, 206, 0.5);
}

body {
  font-family: "Circular Std", sans-serif;
  background-color: $dark;
  color: $text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.non-style-link {
  text-decoration: none; /* no underline */
}
